[submodule ".support/puppet/modules/puppi"]
	path = .support/puppet/modules/puppi
	url = git@github.com:example42/puppi.git
[submodule "plugins/jekyll-rst"]
	path = plugins/jekyll-rst
	url = git@github.com:xdissent/jekyll-rst.git
